.movie-body{
    padding: 2% 5%;
}
.movie-header{
    text-align: left;
    margin: 5% 0;
}
.movie-header p{
    font-size: 30px;
}
.category-body{
    display: flex;
    width: 90%;
}
.category-item{
    width: 15%;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    margin: 2% 5%;
}
.category-item.selected{
    background-color: #5141EA;

}
.category-item.unselected{
    background-image: url('./imgs/boton.svg');
}
.movie-list-list{

}
.movie-item-body{
    width: 18%;
    height: 29rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 48px;
    display: inline-flex;
    margin: 1% 1%;
}
.movie-item-body:hover .movie-item-texts{
    visibility: visible;

}
.movie-item-texts{
    visibility: hidden;
    display: grid;
    height: 98%;
    overflow: hidden;
    padding: 3% 1% 0 5%;
    width: 100%;
    background-color: rgba(81, 65, 234, .6);
    border-radius: 45px;
}

.movie-item-texts::-webkit-scrollbar{
    display: none;
}
.pagination-body{
    width: 30%;
    margin: 1% 35%;
    display: flex;
    place-content: center;
    align-items: center;
}
.pagination-body p{
    width: 50%;
    font-size: 30px;
}
.pagination-flecha-atras{
    width: 10%;
    height: 3rem;
    background-color: #5141EA;
    border-radius: 50px;

}
.pagination-flecha-siguiente{
    width: 10%;
    height: 3rem;
    background-color: #5141EA;
    border-radius: 50px;
}

